@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500&display=swap");

:root {
  --clr-primary: hsl(300, 43%, 22%);
  --clr-secondary: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(303, 10%, 53%);

  --ff-mont: "Spartan", sans-serif;

  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2.25rem;
  --fs-700: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-mont);
  font-size: 1.066rem;
  text-align: center;
}

/* Utility Classes */

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 900px;
}

.bg-dark {
  background-color: var(--bg-light, var(--clr-primary));
  color: var(--fc-light, var(--clr-neutral-100));
}

.bg-light {
  --bg-light: var(--clr-primary);
}

.split {
  display: flex;
}

/* Lay-out */

.list__item {
  padding: 2rem;
  border-radius: 1rem;
}

.list__container {
  display: grid;
  grid-gap: 1rem;
}

.list__profile img {
  width: 15%;
  border-radius: 50%;
}
